<html>
    <head>
        <title>Dodaj pożyczkę</title>
    </head>

    <body>
        <p><form action="/dodaj" method="post">
            <input type="text" name="osoba" placeholder="Osoba" value="{{osoba}}"><br>
            <input type="number" name="kwota" step="0.01" placeholder="Kwota (zł)" value="{{kwota}}"><br>
            <input type="text" name="opis" placeholder="Krótki opis" value="{{opis}}"><br>
            <input type="radio" id="komus" name="typ" value="komuś" checked>
            <label for="komus">Pożyczone komuś</label><br>
            <input type="radio" id="od kogos" name="typ" value="od kogoś">
            <label for="od kogos">Pożyczone od kogoś</label><br>
            <input type="date" name="data"><br>
            <input type="submit" value="Dodaj">
            <input type="submit" name="anulowany" value="Anuluj">
        </form></p>
        <p>{% if error %}
            {{error}}
        {% endif %}</p>
        <form action="/szybki-wpis" method="post">
        <p>{% for element in szybkie_lista %}
                <input type="submit" name="skrot" value="{{element[6]}}"><br>
            {% endfor %}
        </p>
        </form>
        <a href="/dodaj-szybkie-dodawanie"><button>Szybkie dodawanie - zarządzaj</button></a>
    </body>
</html>