<html>
    <head>
        <title>Zarządzaj szybkimi wpisami</title>
    </head>

    <body>
        <p><form action="/szybkie-dodawanie" method="post">
            <input type="text" name="osoba" placeholder="Osoba" value="{{osoba}}"><br>
            <input type="number" name="kwota" step="0.01" placeholder="Kwota (zł)" value="{{kwota}}"><br>
            <input type="text" name="opis" placeholder="Krótki opis" value="{{opis}}"><br>
            <input type="radio" id="komus" name="typ" value="komuś" checked>
            <label for="komus">Pożyczone komuś</label><br>
            <input type="radio" id="od kogos" name="typ" value="od kogoś">
            <label for="od kogos">Pożyczone od kogoś</label><br>
            <input type="text" name="skrot" placeholder="Nazwa akcji" value="{{skrot}}">
            <input type="submit" value="Dodaj">
            <input type="submit" name="anulowany" value="Powrót">
        </form></p>
        <p>{% if error %}
            {{error}}<br>
        {% endif %}</p>
        <p><form action="/usuwanie-szybkich-akcji" method="post">
            <table>
            <caption>pożyczone komuś:</caption>
            <thead>
                <tr>
                <th scope="col">Osoba</th>
                <th scope="col">Kwota</th>
                <th scope="col">Opis</th>
                <th scope="col">Data dodania</th>
                <th scope="col">Skrót</th>
                </tr>
            </thead>
            <tbody>
                {% for pozycja in szybkie_lista%}
                        {% if pozycja[4] == "komuś" %}
                        <tr>
                            <td>{{pozycja[1]}}</td>
                            <td>{{pozycja[2]}}zł</td>
                            <td>{{pozycja[3]}}</td>
                            <td>{{pozycja[5]}}</td>
                            <td>{{pozycja[6]}}</td>
                            <td><input type="checkbox" name="szybkie_do_usuniecia" value="{{pozycja[0]}}"></td>
                        </tr>    
                        {% endif %}
                {% endfor %}
            </tbody>
            </table>
            <br>
            <table>
            <caption>pożyczone od kogoś:</caption>
            <thead>
                <tr>
                <th scope="col">Osoba</th>
                <th scope="col">Kwota</th>
                <th scope="col">Opis</th>
                <th scope="col">Data dodania</th>
                <th scope="col">Skrót</th>
                </tr>
            </thead>
            <tbody>
                {% for pozycja in szybkie_lista %}
                        {% if pozycja[4] == "od kogoś" %}
                        <tr>
                            <td>{{pozycja[1]}}</td>
                            <td>{{pozycja[2]}}zł</td>
                            <td>{{pozycja[3]}}</td>
                            <td>{{pozycja[5]}}</td>
                            <td>{{pozycja[6]}}</td>
                            <td><input type="checkbox" name="szybkie_do_usuniecia" value="{{pozycja[0]}}"></td>
                        </tr>    
                        {% endif %}
                {% endfor %}
            </tbody>
            </table>
            <br>
            <input type="submit" value="usuń zaznaczone">
        </form></p>
    </body>
</html>