<html>
    <head>
        <title>Zarządzaj szybkimi wpisami</title>
    </head>

    <body>
        <p><form action="/szybkie-dodawanie" method="post">
            <input type="text" name="osoba" placeholder="Osoba"><br>
            <input type="number" name="kwota" placeholder="Kwota (zł)"><br>
            <input type="text" name="opis" placeholder="Krótki opis"><br>
            <input type="radio" id="komus" name="typ" value="komuś" checked>
            <label for="komus">Pożyczone komuś</label><br>
            <input type="radio" id="od kogos" name="typ" value="od kogoś">
            <label for="od kogos">Pożyczone od kogoś</label><br>
            <input type="date" name="data"><br>
            <input type="text" name="skrot" placeholder="Nazwa akcji">
            <input type="submit" value="Dodaj">
            <input type="submit" name="anulowany" value="Anuluj">
        </form></p>
        <p>{% if error %}
            {{error}}
        {% endif %}</p>
    </body>
</html>